node_modules
**/node_modules
.next
**/.next
dist
**/dist
.git
.gitignore
.env
**/.env
.env.*
!.env.example
**/.env.example
.turbo
**/.turbo
coverage
logs
*.log
.DS_Store
uploads
**/uploads
.vscode
.idea
README.md
docs
